@import url(header.css);
@import url(home.css);
@import url(about.css);
@import url(products.css);
@import url(history.css);
@import url(contact.css);
@import url(footer.css);
@import url(base.css);
@import url(sidebar.css);



*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform:uppercase;
    transition: .2s linear; 
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.main{
    padding:2rem 2%;
}
